.Game {
  margin: 32px auto;
  max-width: 1500px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr;
  grid-template-areas: "sidebar"
  "board";
  @media only screen and (min-width: 640px) {
    grid-template-columns: 200px 1fr;
    grid-template-areas: "sidebar board"
    "sidebar board";
  }
  &-sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
  }
  &-yourPerson {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 213px;
  }
  &-board {
    grid-area: board;
    display: flex;
    grid-gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  &-actions {
    margin: 16px 0 32px 0;
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
  }
}