.PersonCard {
  padding: 8px 4px;
  border: 1px solid gray;
  transition: transform 100ms, background-color 100ms;
  width: 124px;
  &-name {
    padding-top: 8px;
    overflow-wrap: anywhere;
  }
  &--eliminated {
    background-color: lightgray;
    filter: brightness(0.7);
  }
}
 
button.PersonCard {
  cursor: pointer;
  &:active {
    transform: scale(0.9);
  }
}